<div class="container">
    <div class="jumbotron">
      <div class="card" style="width: 18rem;" *ngFor="let img of car">
            <h1 class="card-title"><span class=" text-primary">{{img.brand}}</span></h1><br>
            <img class="card-img-top" src="{{img.image}}" alt="{{img.brand}}" width="500" height="500">
            <div class="card-body">
              
            <h3><strong>Country:</strong>{{img.country}}</h3>
            <h3><strong>Year:</strong> {{img.year}}</h3>
              
            </div>
          </div>
                
      </div>
</div>