<div class="container">
    <div class="jumbotron">
          <!--  <p-dataTable [value]="carList" selectionMode="single" [(selection)]="selectedCar" (onRowSelect)="selectedCar(car)" [paginator]="true" rows="5" [responsive]="true">
                    <p-header><div class="ui-helper-clearfix" style="width:100%"><button type="button"  class="btn btn-primary" style="float:left" (click)="addCar()" label="Add">Create a new car</button></div></p-header>
                    <p-column field="brand" header="Brand" [sortable]="true"></p-column>
                    <p-column field="country" header="Country" [sortable]="true"></p-column>
                    <p-column field="year" header="Year" [sortable]="true"></p-column>
                    <p-column>
                            <ng-template pTemplate="header">
                               Delete
                            </ng-template>
                            <ng-template let-car="rowData" pTemplate="body">
                                <button type="button"  (click)="DeleteCar(car)">Delete</button>
                            </ng-template>
                        </p-column>
                </p-dataTable>-->

                <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="ui-helper-clearfix" style="width:100%"><button type="button"  class="btn btn-primary"
                     style="float:left" (click)="addCar()" label="Add">Create a new car</button></div>
                </div>
                <div class="panel-body">
                      <table class="table table-bordered table-responsive" >
                              <thead>
                                  <tr>
                                      <th>#</th>
                                      <th>Brand</th>
                                      <th>Country </th>
                                      <th>Year</th>
                                      <th >Delete</th>
                                      
                                   </tr>
                              </thead>
                              <tbody>
                                  <tr  *ngFor='let car of carList; let i= index'  >
                                      <td>{{i+1}}</td>
                                      <td class='color' (click)='selectedCar(car.$key)' >{{car.brand}}</td>
                                      <td>{{car.country}}</td>
                                      <td>{{car.year}}</td>
                                      <td>
                                          <button class='btn btn-danger ' (click)='deleteCar(car.$key,i)' style="float: center;" >
                                              <span class="glyphicon glyphicon-trash"></span> </button>
                                      </td>
                                   
                                  </tr>
                              </tbody>
                          </table>
                      
                </div>
    </div>
        <!--..........................-->        
      </div>
</div>