<nav class="navbar navbar-inverse" *ngIf="nav.visible">
    <div class="container-fluid">
      <div class="navbar-header ">
        <a class="active navbar-brand " [routerLink]='["/homepage"]'>Elephant Cars</a>
       </div>
       
      <ul class="nav navbar-nav navbar-right">
        <li> <a [routerLink]='["/login"]' (click)="logout()">Logout</a></li>
         <!-- <li><a [routerLink]="['clientList']"> Clients</a></li>
        <li ><a [routerLink]='["clients"]' >Add Client</a></li>-->
        
      </ul>
    </div>
  </nav>
<router-outlet></router-outlet>

