<div class="container login">
        <h1 class="card-title ticker-title login-font ">Login</h1><hr>
        <div class="card">
            
            <form [formGroup]="loginForm" novalidate (submit)="login()">
                    <div class="form-group ">
                            <div class="inner-addon right-addon">
                                <i class="glyphicon glyphicon-envelope"></i>
                                 <input class="form-control " type="text" formControlName="email"  placeholder="Email address">
                             </div>
                            </div>
                            <div class="alert alert-danger" *ngIf="loginForm.controls.email.touched && loginForm.get('email').hasError('pattern') ">
                                Email must be in email format
                            </div>
                            <div class="alert alert-danger" *ngIf="loginForm.controls.email.touched && !loginForm.controls.email.value">
                                Email address is required
                            </div>
                            <div class="form-group inner-addon right-addon">
                            <i class="glyphicon glyphicon-lock"></i>
                            <input class="form-control" type="password" formControlName="password"  placeholder="Password">
                            </div>
                            <div class="alert alert-danger" *ngIf="loginForm.controls.password.touched && !loginForm.controls.password.value">
                                Password is required.
                            </div>
                            <div class="form-group row">
                                <div class="center">
                                    <button type="submit" class="btn btn-primary form-group" [disabled]="!loginForm.valid"> 
                                            Login <span class="glyphicon glyphicon-log-in"></span>
                                    </button>
                                </div>
                                
                            </div>
             </form>
    
        </div>
    </div>