<div class="container">
    <div class="jumbotron">
    
    
    <div class="card">
        <h1 class="card-title ticker-title login-font text-center">Add Car</h1>
        <form [formGroup]="addForm" novalidate (submit)="addCar()">
            <div class="form-group ">
              <input class="form-control " type="text" formControlName="brand"  placeholder="Car Brand">
            </div>
           
            <!--<input class="form-control" type="text" formControlName="country"  placeholder="Country">-->
            <div>
                    <select class="form-control create-input"
                            formControlName="country">
                         <option value=null disabled selected hidden>--Country--</option>
                           <option *ngFor="let country of countryList" >{{country.country}}</option>
                     </select>
                 </div>


            <br>
            <p-calendar formControlName="year"  dateFormat="yy" placeholder="Year"
            showIcon="true" yearNavigator="true" yearRange="1900:2030" ></p-calendar><br>
           
            <br>
            <input class="form-control" type="text" formControlName="image"  placeholder="Image URL">
            <br>
            <div class="form-group row">
                <div class="col-sm-6">
                    <button type="submit" class="btn btn-primary form-group" > 
                        Add Car 
                    </button>
                </div>
            </div>
        </form>
        <!--................................-->
        
        
    </div>
</div>            
</div>